version: "3.9"

services:
  db:
    image: postgres:14
    container_name: postgres_14_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data

  bot:
    build: ./
    command: python3 main.py
    depends_on:
      - db
      - redis
    restart: always
    env_file:
      - .env

volumes:
  postgres_data:
  redis_data:
